# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*_unused.py

# IDE
.vscode/
.idea/
*.swp
*.swo
.ruff_cache

# OS
.DS_Store
Thumbs.db

# Project specific
*.md
!README.md
*.pdf
config/reshade_presets

# AI
.claude
.serena

# test
sample_code
sample_data